/*-------------------------rooms------------------------------------------------*/

label {
    display: inline-block;
    width: 10%;
    margin: 5px;
    font-family: "Microsoft JhengHei", Calibri;
    font-size: 110%;
    text-align: right;
}

#room_detail_div, #user_detail_div {
    border: 2px solid lightgray;
    margin: 10px 10px;
    padding: 10px;

}

input, select {
    font-family: "Microsoft JhengHei", Calibri;
    font-size: 110%;
    margin: 5px;
    font-weight: bold;
    background-color: white;
}

#ROOMNO, #FLOOR {
    width: 80px;
}
#DESCRIPTION {
    width: 50%;
}
#SIZE {
    width: 85px;
}
#PRIZE {
    width: 200px;
}
#FULLNAME {
    width: 50%;
}

.save_btn {
    margin: 10px 10px 10px 20%;
}

#rooms_r .room:hover {
    cursor: pointer;
    background-color: #AAA;
}

