<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Lagoon Dining</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/user.css">
</head>
<body class="background">

     <nav class="navbar navbar-default">
         <div class="container">
             <div class="navbar-header"><a class="navbar-brand navbar-link" href="Login.html"><i class="glyphicon glyphicon-phone"></i>Login</a>
                 <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
             </div>
             <div class="collapse navbar-collapse" id="navcol-1">
                 <ul class="nav navbar-nav navbar-right">
                     <li role="presentation"><a href="index.html">Home</a></li>
                     <li class="active" role="presentation"><a href="Contact.html">Contact us</a></li>
                     <li role="presentation"><a href="gallery.html">Gallery</a></li>
                     <li role="presentation"><a href="reserve.html">Reserve</a></li>


                 </ul>
             </div>
         </div>
     </nav>





    <div class="col-md-6" >
      <div class="container">






      <h2 >Contact Us</h2>

        <form action="mail.php" method="POST" class="form">

            <p class="name">
              <input type="text" name="name" id="name" placeholder="Isuru Kavinda" />
              <label for="name">Name</label>
            </p>

            <p class="email">
              <input type="text" name="email" id="email" placeholder="mail@example.com" />
              <label for="email">Email</label>
            </p>

            <p class="web">
              <input type="text" name="subject" id="subject" placeholder="Enter your subject" />
              <label for="subject">Subject</label>
            </p>

                <p class="text">
                  <textarea name="message" placeholder="Write something to us" /></textarea>
                </p>

                <p class="submit">
                  <input type="submit" value="Send" />
                </p>
              </form>



            </div>
    </div>



  <div class="col-md-6">
  <div class="container">
    <div class="col-md-6 col-md-pull-3 get-it">
    </br></br></br></br>
      <p>Make your reservation from below link, or contact one of our executives to make your reservation</p>
      <p>Contact Tel: +94-11-2651700 <br>Fax: +94-2651701 <br><br> Email: info@hotellagoondinin <br><a href="index.html">web: Hotel Lagoon Dining.com</a></p><br>
      <p>Address:#556/E/1,<br> De Soyza Road,<br> Molpe,<br> Moratuwa,<br> Sri Lanka.</p>
    </div>
  </div>
</div>

    <footer class="site-footer">
        <div class="col-md-12">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <h5>--------Visit our Web site, Face book paage, Twitter, Instalgram--------</h5></div>
                <div class="col-sm-6 social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-instagram"></i></a></div>
            </div>
        </div>
          </div>
    </footer>



    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
