<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel Lagoon Dining</title>
    <link rel="stylesheet" href="mainStyle.css">
    <link rel="stylesheet" href="requirementStyle.css">
</head>
<body>

<header>
    <h1 id="hotel_name">HOTEL LAGOON DINING</h1>
</header>

<div id="container">

    <div id="content">

        <!-------------------------menu for reception------------------------>
        <div id="reception_menu">
            <div class="menu_item" id="new_reserve_m">
                <h2>New Reservation</h2>
                <p>Make new GRC or FIT</p>
            </div>

            <div class="menu_item" id="current_reserve_m">
                <h2>View Reservations</h2>
                <p>View previously created reservations.</p>
            </div>

            <div class="menu_item" id="rooms_m">
                <h2>Rooms</h2>
                <p>Available rooms in hotel.</p>
            </div>
        </div>
        <!----------------------end of menu for reception------------------------>


        <!--------------------------sub menu - new reservation------------------->
        <div class="requirement" id="new_reserve_r">
            <h2 id="new_reserve_back" class="back_btn">Back</h2>
            <h2 style="display:inline-block">New Reservation</h2>

            <form action="submit">
                <fieldset>
                    <label for="check_in">Check-In </label>
                    <input type="date" name="check_in" id="check_in" value="2017-01-01">
                    <label for="check_out">Check-Out </label>
                    <input type="date" name="check_out" id="check_out" value="2017-01-01">
                    <div class="radio_group">
                        <p>Room type</p>
                        <label for="any_type" class="radio_label">Any </label>
                        <input type="radio" name="room_type" id="any_type" value="any_type">
                        <label for="NONE_AC_type" class="radio_label">None AC </label>
                        <input type="radio" name="room_type" id="NONE_AC_type" value="NONE_AC_type">
                        <label for="AC_type" class="radio_label">AC </label>
                        <input type="radio" name="room_type" id="AC_type" value="AC_type">
                    </div>
                    <div class="radio_group">
                        <p>Room size</p>
                        <label for="single_size" class="radio_label">Single </label>
                        <input type="radio" name="room_size" id="single_size" value="single_size">
                        <label  class="radio_label">Double </label>
                        <input type="radio" name="room_size" id="double_size" value="double_size">
                    </div>
                </fieldset>
            </form>
            <p>Available rooms,</p>
            <table></table>

        </div>
        <!--------------------------end of sub menu - new reservation------------------------->


        <!----------------------------new reservation - part II ------------------------------>
        <div class="requirement" id="reserve_room_r">
            <div>
                <h2 class="back_btn">Back</h2>
                <h2 style="display:inline-block">New Reservation - Details</h2>
            </div>

            <div id="reserve_detail"></div>

            <form action="submit">

                <fieldset>


                    <div class="radio_group">
                        <p><b>Meal type</b></p>
                        <label for="stay_only_type" class="radio_label">Stay only </label>
                        <input type="radio" name="meal_type" id="stay_only_type">
                        <label for="breakfast_type" class="radio_label">Breakfast only </label>
                        <input type="radio" name="meal_type" id="Breakfast_type">
                        <label for="HB_type" class="radio_label">HB </label>
                        <input type="radio" name="meal_type" id="HB_type">
                        <label for="FB_type" class="radio_label">FB </label>
                        <input type="radio" name="meal_type" id="FB_type">
                    </div>
                    <div class="radio_group">
                        <p><b>Meal preference</b></p>
                        <label for="none_veg" class="radio_label">None vegitable </label>
                        <input type="radio" name="meal_pre" id="none_veg">
                        <label for="veg_meal" class="radio_label">Vegitable </label>
                        <input type="radio" name="meal_pre" id="veg_meal">
                    </div>
                    <hr>
                    <div id="meal_fee_div"></div>

                </fieldset>

                <fieldset>
                    <p><b>Customer details</b></p>
                    <label for="customer_name" class="text_label">Name </label>
                    <input type="text" name="customer_name" id="customer_name">
                    <br>
                    <label for="customer_ID" class="text_label">ID</label>
                    <input type="text" name="customer_ID" id="customer_ID">
                    <label for="customer_VISA" class="text_label">VISA </label>
                    <input type="text" name="customer_VISA" id="customer_VISA">
                    <p style="display:inline; color:#AAA;">( Optional both )</p>
                    <br>
                    <label for="customer_add" class="text_label">Address </label>
                    <input type="text" name="customer_add" id="customer_add">
                    <br>
                    <label for="customer_phone" class="text_label">Telephone </label>
                    <input type="text" name="customer_telephone" id="customer_phone">
                    <br>

                    <hr>
                    <label for="GRC_check" class="radio_label">GRC </label>
                    <input type="radio" name="FIT/GRC" id="GRC_check">
                    <p style="display:inline; color:#AAA;">( Only reservation )</p>

                    <label for="FIT_check" class="radio_label">FIT </label>
                    <input type="radio" name="FIT/GRC" id="FIT_check">
                    <p style="display:inline; color:#AAA;">( Check-in right now )</p>

                    <hr>
                    <div id = "payment_reserve"></div>


                    <h2 id="reserve_btn"></h2>
                </fieldset>
            </form>

        </div>
        <!--------------------------end of new reservation - part II-------------------------->


        <!-----------------------------reservations------------------------------------------->
        <div class="requirement" id="current_reserve_r">
            <div>
                <h2 class="back_btn">Back</h2>
                <h2 style="display:inline-block">Reservations</h2>
                <hr>
            </div>

            <form>
                <input type="checkbox" name="reserved" id="reserved">
                <label for="reserved" class="check_label">Reserved</label>
                <input type="checkbox" name="checked_in" id="in_state">
                <label for="in_state" class="check_label">Checked-in</label>
                <input type="checkbox" name="checked_out" id="out_state">
                <label for="out_state" class="check_label">Checked-out</label>

            </form>

            <hr>
            <p>Available reservations</p>

            <div id="reserve_container"></div>

        </div>
        <!-----------------------------end of reservations------------------------------------>


        <!----------------------------reservations part II------------------------------------->
        <div class="requirement" id="manage_reserve_r">
            <div>
                <h2 class="back_btn">Back</h2>
                <h2 style="display:inline-block">Manage Reservation</h2>
                <hr>
            </div>

            <h3># 34</h3>
            <p id="checkin">Check-In : </p>
            <p id="checkout">Check-Out : </p>
            <div id="room_des"></div>
            <hr>

            <form>
                <br>
                <div>
                    <p>Meal type</p>
                    <label for="stay_only_type" class="radio_label">Stay only </label>
                    <input type="radio" name="meal_type" id="stay_only">
                    <label for="breakfast_type" class="radio_label">Breakfast only </label>
                    <input type="radio" name="meal_type" id="Breakfast">
                    <label for="HB_type" class="radio_label">HB </label>
                    <input type="radio" name="meal_type" id="HB">
                    <label for="FB_type" class="radio_label">FB </label>
                    <input type="radio" name="meal_type" id="FB">
                </div>
                <br>
                <div>
                    <p>Meal preference</p>
                    <label for="none_veg" class="radio_label">None vegitable </label>
                    <input type="radio" name="meal_pre" id="none">
                    <label for="veg_meal" class="radio_label">Vegitable </label>
                    <input type="radio" name="meal_pre" id="veg">
                </div>
                <br>

                <p>Reserved by,</p>
                <br>
                <label class="text_label">Name </label>
                <input type="text" name="customer_name">
                <br>
                <label class="text_label">ID</label>
                <input type="text" name="customer_ID">
                <label class="text_label">VISA </label>
                <input type="text" name="customer_VISA">
                <p style="display:inline; color:#AAA;">( Optional both )</p>
                <br>
                <label class="text_label">Address </label>
                <input type="text" name="customer_add">
                <br>
                <label class="text_label">Telephone </label>
                <input type="text" name="customer_telephone">
                <br>
                <hr>

                <div id="payment_div">
                    <p><span class='payment'>Total Fee </span> Rs. <span id="total_value"></span></p>
                    <p><span class='payment'>Payed value </span> Rs. <span id='payed_value'></span></p>
                    <p><b><span class='payment'>Balance </span> Rs. <span id="balance_value"></span></b></p>
                    <br>
                    <label class='payment'>Payment</label>
                    <input  type='text'>
                    <label style='padding-left: 10px;' id='make_payment'><b>Pay</b></label>
                    <hr>

                    <h2 id='save_reserve'>Save & Exit</h2>
                    <h2 id='next_status'>Reserve</h2>
                    <h2 id='cancel_reserve'>Remove</h2>
                </div>
            </form>

        </div>
        <!-----------------------------end of reservations part II------------------------------->

        <!--------------------------------rooms-------------------------------------------------->
        <div class="requirement" id="rooms_r">
            <div>
                <h2 class="back_btn">Back</h2>
                <h2 style="display:inline-block">Rooms</h2>
                <hr>
            </div>

            <form>
                <div class="radio_group">
                    <p>Room type</p>
                    <label for="any_type" class="radio_label">Any </label>
                    <input type="radio" name="room_type" id="any_room" value="any_type">
                    <label for="NONE_AC_type" class="radio_label">None AC </label>
                    <input type="radio" name="room_type" id="NONE_AC_room" value="NONE_AC_type">
                    <label for="AC_type" class="radio_label">AC </label>
                    <input type="radio" name="room_type" id="AC_room" value="AC_type">
                </div>
                <div class="radio_group">
                    <p>Room size</p>
                    <label for="single_size" class="radio_label">Single </label>
                    <input type="radio" name="room_size" id="single_room" value="single_size">
                    <label  class="radio_label">Double </label>
                    <input type="radio" name="room_size" id="double_room" value="double_size">
                </div>
            </form>
            <div id="room_list"></div>
        </div>
        <!-----------------------------------end of rooms----------------------------------------->


    </div>

    <aside id="right_row">
        <h3>Notifications</h3>
        <hr>
        <div class="notification">
            <p>From Reception,</p>
            <p>Mr. Roshan Pinnaduwa checked-in to room-12 @12.30 pm of 12th of March 2017</p>
            <div class="notify_button_box">
                <p class="button">Confirm</p>
                <p class="button">Reject</p>
            </div>
        </div>
        <div class="notification">
            <p>From Reception,</p>
            <p>Mrs. Pubudu Kusum checked-out from room-21 @7.30 am of 11th of March 2017</p>
            <div class="notify_button_box">
                <p class="button">Confirm</p>
            </div>
        </div>
    </aside>

</div>

<footer>
    <a href="www.hotellogoondining.lk">Visit website</a>
    <a href="www.facebook.com/lahiru.wer.3445454/index.html">Facebook page</a>
    <div id="footer_bottom">
        <p>Developed by : NewExp (2017)</p>
    </div>
</footer>

<script src="../script/general.js" type="text/javascript" charset="utf-8"></script>
<script src="../library/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../script/receptionScript.js" type="text/javascript" charset="utf-8"></script>

</body>
</html>