<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hotel Lagoon Dining</title>
    <link rel="stylesheet" href="assets/css/mainStyle.css" type="text/css">
    <link rel="stylesheet" href="assets/css/loginStyle.css" type="text/css">
    <script src="../library/jquery-3.2.1.min.js" type="text/javascript"></script>
    <script src=""></script>
</head>
<body>

<div id="container_div">

    <img src="assets/img/logo.png" alt="Hotel Logo">

    <form>
        <input type="text" name="name" placeholder="User name" id="login_name">
        <br>
        <input type="password" name="password" placeholder="Password" id="login_pass">
        <br>
        <input type='button' name="submit" value="Login" id="submit_btn">
    </form>

</div>

<script src="../library/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="../script/general.js" type="text/javascript"></script>
<script src="../script/loginScript.js" type="text/javascript"></script>
<p id="envelop" style="color: white; display: none;"></p>
</body>
</html>
