@font-face {
    font-family: "Microsoft JhengHei";
    src: url('msjh.ttc') format('truetype'),
         url('msjhbd.ttc') format('truetype'),
         url('msjhl.ttc') format('truetype');
}

body {
    font-family: "Microsoft JhengHei", Calibri;
    margin: auto;
}

/*================header========================*/

header {
    background-color : brown;
    font-weight: bold;
    color: white;
    text-align: center;
    clear: both;
}

#hotel_name {
    font-size: 40px;
    margin: 0;
}

header hr {
    border: solid 2px white;
    margin: 0;
}

#menu_bar {
    margin: 0;
    padding: 0;
}

#menu_bar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

#menu_bar li {
    width: 50px;
    margin: 0;
    text-align: center;
    display: inline-block;
    padding: 10px 20px;
}

#menu_bar li:hover {
    color: coral;
    cursor: pointer;
}

#current_menu {
    background-color: darkred;
    color: coral;
}
/*==================================================*/

/*===================footer==========================*/
footer {
    background-color: brown;
    margin:0;
    color: white;
    font-size: 80%;
    text-align: center;
}

footer a {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: 5px 10px;
}

#footer_bottom {
    color: coral;
    background-color: darkred;
    font-size: 100%;
    margin: 0;
    padding: 1px;
    text-align: center;
}
/*======================================================*/

/*================container===========================*/
body {
    width: 100%;
    margin: auto;
}
#container {
    display: table;
    border-collapse: separate;
    border-spacing: 0 5px;
    min-height: 520px;
    font-size: 90%;
    width: 80%;
    margin: auto;
}

/*=======================================================*/

/*===================Content=============================*/
#content {
    display: table-cell;
    width: 100%;
    margin: auto;
    padding: 0;
    text-align: left;
}

.menu_item {
    background-color: #EEE;
    margin: 10px;
    padding: 1px 30px;
    color: #222;
}

.menu_item:hover {
    cursor: pointer;
    background-color: #CCC;
}

.requirement {
    display: none;
}

/*======================================================*/

/*=================aside============================*/
/*#right_row {*/
    /*background-color: brown;*/
    /*display: table-cell;*/
    /*width: 23%;*/
    /*color: white;*/
/*}*/

/*#right_row hr, #right_row h3 {*/
    /*margin: 0;*/
    /*padding: 0;*/
    /*text-align: center;*/
/*}*/

/*.notification {*/
    /*padding: 10px 5px;*/
    /*margin: 5px 0;*/
    /*color: lightGray;*/
/*}*/

/*.notification:hover {*/
    /*background-color: darkred;*/
/*}*/

/*.notification p {*/
    /*margin: 3px;*/
/*}*/

/*.notify_button_box {*/
    /*text-align: right;*/
    /*padding-right: 20px;*/
/*}*/

/*.button {*/
    /*display: inline;*/
/*}*/
/*.button:hover {*/
    /*cursor: pointer;*/
    /*color: coral;*/
/*}*/

/*===========================================================*/














