/*===================general sub content==================*/

.requirement {
    background-color: #EEE;
    margin: 0 5px;
    padding: 5px;
    color: #222;
}

.requirement h2{
    color: #000;
    margin: 0;
    padding-bottom: 10px;
}

.requirement fieldset {
    border: solid 1px #BBB;
    padding: 15px 10px;
    margin-bottom: 5px;
}

.requirement p{
    margin: 1px 0 1px 0;
}

/*=========================================================*/

/*=================new Reservation=========================*/

#check_in, #check_out {
    margin: 0 60px 0 5px;
    font-family: "Microsoft JhengHei", Calibri;
}

.requirement .radio_label {
    padding-left: 20px;
}

.requirement .radio_group {
    margin: 15px 0;
}

.requirement table {
    width: auto;
    width: inherit;
    width: 96%;
}

.requirement td {
    display: inline-block;
    margin: 2px;
    background-color: #DDDDDD;
    padding: 5px 10px 5px 20px;
    width: 100%;
}

.requirement td:hover {
    cursor: pointer;
    background-color: #AAA;
}

.requirement td h3, td p{
    margin: 5px;
}


.requirement .back_btn {
    margin-right: 150px;
    margin-left: 13px;
    color: #AAA;
    display: inline-block;
}

.requirement .back_btn:hover {
    color: #222222;
    cursor: pointer;
}

.requirement .text_label {
    display: inline-block;
    padding-right: 10px;
    width: 100px;
    text-align: right;
    margin: 5px 0;
}

.requirement input[type='text'] {
    font-weight: bold;
    font-family: "Microsoft JhengHei", Calibri;
}

.requirement input[name='customer_name'] {
    width: 429px;
}

.requirement input[name='customer_add'] {
    width: 429px;
}

.requirement #reserve_btn:hover {
    color: darkred;
    cursor: pointer;
}

.requirement #reserve_detail {
    margin: 10px 2px;
    border: solid lightgray 1px;
    padding: 10px;
    font-weight: bold;
    line-height: 170%;
}

/*===============current reservations===================*/

.requirement .check_label {
    padding-right: 20px;
}

.requirement .reservation {
    margin: 8px 5px;
    padding: 10px 20px;
}

.requirement .reserved_res {
    background-color: #fd7;
}
.requirement .reserved_res:hover {
    background-color: #fc6;
    cursor: pointer;
}

.requirement .in_res {
    background-color: #faa;
}
.requirement .in_res:hover {
    background-color: #e99;
    cursor: pointer;
}

.requirement .out_res {
    background-color: #0de;
}
.requirement .out_res:hover {
    background-color: #0cd;
    cursor: pointer;
}

.requirement #search_room {
    margin: 10px;
}

.requirement #search_btn {
    font-weight: bold;
}
.requirement #search_btn:hover {
    cursor: pointer;
}

.requirement input[type='date'] {
    margin: 10px 60px 10px 10px;
    font-family: "Microsoft JhengHei", Calibri;
}

#manage_reserve_r .payment {
    display: inline-block;
    width: 150px;
}

.requirement #make_payment:hover {
    cursor: pointer;
    color: darkred;
}

#manage_reserve_r #next_status {
    display: inline-block;
    margin: 10px;
    width: 20%;
    text-align: center;
}
#manage_reserve_r #save_reserve {
    display: inline-block;
    margin: 10px;
    width: 30%;
    text-align: right;
}
#next_status:hover, #save_reserve:hover {
    color: darkred;
    cursor: pointer;
}

/*======================reservations=======================*/


/*=================rooms===================================*/

#rooms_r .room {
    background-color: #DDDDDD;
    margin: 5px;
    padding: 10px;
}

#rooms_r .room:hover {
    background-color: #D5D5D5;
}

#rooms_r .room h3 {
    margin: 0;
}